@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'nextra-theme-docs/style.css';
@import /* webpackIgnore: true */"https://cdn.jsdelivr.net/npm/@observablehq/inspector/dist/inspector.css";

@layer base {
    html {
        scroll-behavior: smooth;
    }
    
    img[src*='#left'] {
        float: left;
        padding:0.7em;
    }
    img[src*='#right'] {
        float: right;
        padding:0.7em;
    }
    img[src*='#center'] {
        display: block;
        margin: auto;
        padding:0.7em;
    }
}



